node_modules
dist
dist-ssr
.env
.env.local
.env.*.local
*.local
.vite
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
supabase/.branches
supabase/.temp
